<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="new-client">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <div id="formularioRegistro" hidden$="{{!showOnScreen}}">
            <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Nuevo Cliente</h1>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                          <div class="input-group">
                              <input id="firstNameField" type="text" class="form-control" name="firstName" placeholder="FirstName" required value="{{firstName::input}}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input id="lastNameField" type="text" class="form-control" name="lastName" placeholder="LastName" required value="{{lastName::input}}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input id="emailField" type="email" class="form-control" name="user" placeholder="Email" required value="{{email::input}}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input id="pwdField" type="password" class="form-control" name="Password" placeholder="Password" required  value="{{password::input}}"/>
                          </div>
                      </div>
                      <button id="btnLogin" on-click="registerNewClient" class="btn btn-default" style="width: 100%">Alta</button>
                    </div>
                </div>
            </div>
          </div>
    <iron-ajax
      id="registerNewClient"
      method="POST"
      url="http://localhost:3000/apitechu/v1/users"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>
  <script src="../js/tools.js"></script>
  <script>
    class NewClient extends Polymer.Element {
      static get is() { return 'new-client'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          showOnScreen: {
            type: Boolean,
            value: false
          }
        };
      }
      showNewClient(){
        this.showOnScreen=true;
        console.log("Mostramos formulario nuevo cliente");
      }
      hideNewClient(){
        this.showOnScreen=false;
        console.log("Ocultamos formulario nuevo cliente");
      }
      registerNewClient(){
        console.log("Botón newClient pulsado");
        if ((this.password!=null)&&(this.password!="")) {
        var newClient = {
          "first_name": this.firstName,
          "last_name" : this.lastName,
          "email":this.email,
          "password":this.password
        };
        this.$.registerNewClient.body=JSON.stringify(newClient);
        this.$.registerNewClient.generateRequest();
        console.log("Petición enviada.");}
        else
        {
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newClient" : false
                }
              }
          )
        );
        }
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newClient" : true,
                  "mensaje" : data.detail.response.msg
                }
              }
          )
        );
        console.log("Evento finalizado")
      }
      showError(error){
        console.log("Se produjo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newClient" : false
                }
              }
          )
        );

      }
    }

    window.customElements.define(NewClient.is, NewClient);
  </script>
</dom-module>
