<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    Input ONE WAY<input type="text" value="[[first_name]] [[last_name]]"/>
    <br/>
    Input TWO WAYS<input type="text" value="{{age::input}}"/>
    <br/>
    Input Range <input type="range" min="18" max="70" value="{{age::input}}"/>
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String//,
            //value: 'World'
          },
          last_name: {
            type: String//,
            //value: 'World'
          },
          age: {
            type: Number//,
            //value: 'World'
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
