<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <div id="formularioLogin" hidden$="{{!logged}}">
            <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Login</h1>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                                <input id="emailField" type="email" class="form-control" name="user" placeholder="Email" required="" value="{{email::input}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input id="pwdField" type="password" class="form-control" name="Password" placeholder="Password" required=""  value="{{password::input}}"/>
                            </div>
                        </div>
                        <button id="btnLogin" runat="server" on-click="login" class="btn btn-default" style="width: 100%">
                            ENTRAR</i>
                        </button>
                    </div>
                </div>
            </div>
            <h2 hidden$="{{logged}}">Datos de usuario [[id]]</h2>
          </div>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>
  <script src="../js/tools.js"></script>
  <script>
    /**
     * @customElemento
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean,
            value: false
          },
          sesion: {
            type: String
          }
        };
      }
      showLogin(){
        this.logged=true;
        console.log("Mostramos formulario logon");
      }
      hideLogin(){
        this.logged=false;
        console.log("Ocultamos formulario logon");
      }
      login(){
        if ((this.$.emailField.value!="")&&(this.$.pwdField.value!="")){
        console.log("Botón login pulsado");
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada.");}
        else {
          alert("Se debe especificar un usuario y un password válido.");
        }
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        console.log("***"+data.detail.response.secreto);
        if (data.detail.response.secreto!='xxxxxx'){
        var userSesion = {
          "email":this.email,
          "id":data.detail.response.id,
          "secreto":data.detail.response.secreto,
          "first_name":data.detail.response.first_name,
          "fechaUltimoLogin":data.detail.response.fechaUltimoLogin  
        };
        console.log(userSesion);
        sessionStorage.setItem("sesion",JSON.stringify(userSesion));
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "login" : true,
                  "id" : data.detail.response.id,
                  "first_name": data.detail.response.first_name,
                  "last_name": data.detail.response.last_name,
                  "secreto": data.detail.response.secreto
                }
              }
          )
        );
        console.log("Evento finalizado")
        }
        else {
          if (data.detail.response.login){
          this.dispatchEvent(
            new CustomEvent(
                "myevent",
                {
                  "detail" : {
                    "login" : true,
                    "id" : data.detail.response.id,
                    "first_name": data.detail.response.first_name,
                    "last_name": data.detail.response.last_name,
                    "secreto": data.detail.response.secreto
                  }
                }
            )
          );
          }
          else {
            this.dispatchEvent(
              new CustomEvent(
                  "myevent",
                  {
                    "detail" : {
                      "login" : false,
                      "id" : "",
                      "first_name": "",
                      "last_name": "",
                      "secreto": ""
                    }
                  }
              )
            );
          }
        }
        this.$.emailField.value="";
        this.$.pwdField.value="";
      }
      showError(error){
        console.log("Se produjo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "login" : false
                }
              }
          )
        );

      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
