<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--//Ejemplo de muestreo de valores-->
    <h2>Datos de usuario [[id]]</h2>
    Id: <input type="text" value="[[id]]"/>
    <br/>
    Nombre: <input type="text" value="{{first_name::input}}"/>
    <br/>
    Apellido: <input type="text" value="{{last_name::input}}"/>
    <br/>
    Email: <input type="text" value="{{email::input}}"/>
    <br/>
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>
  </template>

  <script>
    /**
     * @customElemento
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String//,
            //value: 'World'
          },
          last_name: {
            type: String//,
            //value: 'World'
          },
          email: {
            type: String//,
            //value: 'World'
          }
        };
      }
      showData(data) {
        console.log("ShowData");
        console.log(data.detail.response);
        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;

      }

    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
