<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="new-movement">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <input type="hidden" id="userId" value="">
      <!-- <form name="newMovementForm" id="newMovementForm"> -->
        <div id="formularioRegistro" hidden$="{{!showNewMovementOnScreen}}">
            <div class="container col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>IBAN origen</h1>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                          <div class="input-group">
                              <input id="IbanOriginField" type="text" class="form-control" name="IBANOrigen" placeholder="iban" required="" value="{{iban::input}}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <select id="typeOperationField" type="text" class="form-control" name="typeOperation" placeholder="tipo" required="">
                                  <option value="recibo">Recibo</option>
                                  <option value="ingreso">Ingreso</option>
                                  <option value="transferencia">Transferencia</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input type="range" min="1" max="150" value="{{cantidad::input}}"/> - <input type="text" name="cantidad" id="cantidad" required value="{{cantidad::input}}"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <input id="ibanToField" type="text" class="form-control" name="ibanTo" placeholder="ibanTo"  value="{{ibanDestino::input}}"/>
                          </div>
                      </div>
                      <button id="btnRegister" on-click="addNewMovement" class="btn btn-default" style="width: 100%">Registrar</button>
                    </div>
                </div>
            </div>
          </div>
        <!-- </form> -->
    <iron-ajax
      id="registerNewMovement"
      method="POST"
      url="http://localhost:3000/apitechu/v1/accountingMovement"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>
  <script>
    class NewMovement extends Polymer.Element {
      static get is() { return 'new-movement'; }
      static get properties() {
        return {
          id:{
            type:Number
          },
          iban: {
            type: String
          },
          tipo: {
            type: String
          },
          cantidad: {
            type: Number
          },
          ibanDestino: {
            type: String
          },
          showNewMovementOnScreen: {
            type: Boolean,
            value: false
          }
        };
      }
      resetForm(){
        this.iban=null;
        this.$.typeOperationField.value=null;
        this.cantidad=null;
        this.ibanDestino=null;
      }
      showNewMovement(idCliente){
        this.$.userId.value=idCliente;
        this.showNewMovementOnScreen=true;
        console.log("Mostramos formulario nuevo movimiento");
      }
      hideNewMovement(){
        this.showNewMovementOnScreen=false;
        console.log("Ocultamos formulario nuevo movimiento");
      }
      addNewMovement(){
        console.log("Botón newMovement pulsado");
        var tipo=this.$.typeOperationField.value;
        if ((!(isNaN(this.cantidad)))&&(this.iban!=null)&&(this.iban!=this.ibanDestino)){
          if (((tipo=="transferencia")&&(this.ibanDestino))||(tipo!="transferencia")){
          var newMovement = {
          "id": this.$.userId.value,
          "iban": this.iban,
          "tipo" : tipo,
          "cantidad":this.cantidad,
          "ibanDestino":this.ibanDestino
          };
          console.log(newMovement);
          this.$.registerNewMovement.body=JSON.stringify(newMovement);
          this.$.registerNewMovement.generateRequest();
          console.log("Petición enviada.");
          }
          else {
            console.log("Operación no realizable. Revise campos.");
            var mensaje = {
              "msg":"Operación no realizable. Revise campos."
            };
            this.showError(mensaje);
          }
        }
        else
        {
          console.log("Operación no realizable. Revise campos.");
          var mensaje = {
            "msg":"Operación no realizable. Revise campos."
          };
          this.showError(mensaje);
        }
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.hideNewMovement();
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newMovement" : true,
                  "mensaje" : data.detail.response.msg
                }
              }
          )
        );

        this.resetForm();
        console.log("Evento finalizado")
      }
      showError(error){
        console.log("Se produjo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newMovement" : false
                }
              }
          )
        );
      }
    }

    window.customElements.define(NewMovement.is, NewMovement);
  </script>
</dom-module>
