<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mensajes-sistema">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div hidden$="{{!showMessageOnScreen}}" class="container" style="margin-top:40px">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <div class="panel panel-default panel-table">
            <div class="panel-heading">
              <div class="tr">
                <div class="td">Mensaje del sistema</div>
              </div>
            </div>
            <div class="panel-body">
              <div class="tr">
                <div class="td">
                  <h1>{{mensaje}}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    class MensajesSistema extends Polymer.Element {
      static get is() { return 'mensajes-sistema'; }
      static get properties () {
        return{
        login: {
          type: Boolean,
          value: false
        },
        id:  {
          type:Number
        },
        mensaje:{
          type:String
        },
        showMessageOnScreen: {
          type: Boolean,
          value: false
        }
        }
      };
      showData(data){
        console.log("Datos recibidos en el receptor");
        console.log(data);
        if (data.login) {
          this.id=data.id;
          this.login=data.login;
          this.first_name=data.first_name;
          this.mensaje=this.first_name + " logado con exito.";
          }
        else {
          this.login=!data.login;
          this.mensaje=data.mensaje;//" Error en login. Usuario o password erronea."
        }
        this.showMessageOnScreen=true;
      }
    }

    window.customElements.define(MensajesSistema.is, MensajesSistema);
  </script>
</dom-module>
