<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../logoff-usuario/logoff-usuario.html">
<link rel="import" href="../mensajes-sistema/mensajes-sistema.html">
<link rel="import" href="../visor-cuenta-usuario/visor-cuenta-usuario.html">
<link rel="import" href="../new-client/new-client.html">
<link rel="import" href="../new-movement/new-movement.html">
<dom-module id="gestor-evento">
  <template>
    <script src="../../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      :host {
        display: block;
      }
      .hide {
        display:none;
      }
    </style>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BBVA</a>
        </div>
        <ul class="nav navbar-nav">
          <li id="loggedOptions2" class="hide"><a href="#" on-click="showCuentas">Consultar Cuentas</a></li>
          <li id="loggedOptions3" class="hide"><a href="#" on-click="showNewMovement">Registrar nuevo movimiento</a></li>
        </ul>
         <span></span>
         <ul class="nav navbar-nav navbar-right">
            <li id="loggedOptions0" class="hide"><p class="navbar-text navbar-right" id="userName" style="padding-right:10px;" ></p></li>
            <li id="loggedOptions1" class="hide" ><a href="#" on-click="doLogoff">Logoff</a></li>
            <li id="registerNewClientOption" ><a href="#" on-click="showNewClient">!! Hazte cliente ¡¡</a></li>
            <li id="inOption" ><a href="#" on-click="showLogin"> Login</a></li>
          </ul>
      </div>
      <input type="hidden" id="userId" value="">
    </nav>
    <login-usuario on-myevent="processEvent" id="loginForm"></login-usuario>
    <logoff-usuario on-myevent="processEvent2" id="logoffForm"></logoff-usuario>
    <new-client on-myevent="processEvent3" id="newClientForm"></new-client>
    <visor-cuenta-usuario on-myevent="processEvent4" id="VisorCuentaUsuarioForm"></visor-cuenta-usuario>
    <new-movement on-myevent="processEvent5" id="NewMovementForm"></new-movement>
    <mensajes-sistema id="receiver"></mensajes-sistema>
  </template>
  <script src="../js/tools.js"></script>
  <script>
    class GestorEvento extends Polymer.Element {
      ready() {
        super.ready();
        var userSesion=sessionStorage.getItem("sesion");
        if ((userSesion!=null)&&(userSesion!="")){
          var sesionLocal=JSON.parse(userSesion);
          var fechaActual=new Date().getTime();
          var sesionActiva=fechaActual-sesionLocal.fechaUltimoLogin;
          console.log("sesionActiva="+sesionActiva);
          console.log(sesionLocal.secreto);
          if ((sesionLocal.secreto!=null)&&(sesionActiva<300000)){
            var userSesion={
              "email":sesionLocal.email,
              "id":sesionLocal.id,
              "secreto":sesionLocal.secreto,
              "first_name":sesionLocal.first_name,
              "fechaUltimoLogin":fechaActual
            };
            this.hideAll();
            this.$.userId.value=sesionLocal.id;
            this.$.userName.innerHTML=" Bienvenido "+sesionLocal.first_name;
            this.$.loggedOptions0.className="";
            this.$.loggedOptions1.className="";
            this.$.loggedOptions2.className="";
            this.$.loggedOptions3.className="";
            this.$.inOption.className="hide";
            this.$.registerNewClientOption.className="hide";
            sessionStorage.setItem("sesion",JSON.stringify(userSesion));
            // this.processEvent(userSesion);
            console.log("Sesion actualizada");
          }
          else {
            this.$.userId.value=sesionLocal.id;
            this.doLogoff();
          }
        }
      }
      static get is() { return 'gestor-evento'; }
      static get properties () {
        return;
      }
      hideAll(){
        this.$.loginForm.hideLogin();
        this.$.newClientForm.hideNewClient();
        this.$.VisorCuentaUsuarioForm.hideAccounts();
        this.$.NewMovementForm.hideNewMovement();
        this.$.receiver.showMessageOnScreen=false;
      }
      showLogin(){
        this.hideAll();
        this.$.loginForm.showLogin();
      }
      showNewClient(){
        this.hideAll();
        this.$.newClientForm.showNewClient();
      }
      showNewMovement(){
        this.hideAll();
        this.$.NewMovementForm.showNewMovement(this.$.userId.value);
      }
      showCuentas(){
        this.hideAll();
        this.$.VisorCuentaUsuarioForm.showAccounts(this.$.userId.value);
      }
      doLogoff(){
        console.log("doLogoff"+this.$.userId.value);
        this.$.logoffForm.logoff(this.$.userId.value);
        this.$.userId.value="";
        this.$.userName.innerHTML="";
        console.log("doLogoff"+this.$.userId.value);
      }
      processEvent(e){
        console.log("Evento capturado del emisor");
        var userSesion=sessionStorage.getItem("sesion");
        if ((userSesion!=null)&&(userSesion!="")) {
          var sesionLocal=JSON.parse(userSesion);
          console.log(sesionLocal);
          if ((sesionLocal.secreto!="")||(e.detail.login==true))
            {
            console.log("1");
            this.$.userId.value=e.detail.id;
            this.$.userName.innerHTML=" Bienvenido "+e.detail.first_name;
            this.$.receiver.showData(e.detail);
            var sesionBD=e.detail.secreto;
            if ((sesionLocal!=null)&&(sesionBD==sesionLocal.secreto)) {
              this.$.loggedOptions0.className="";
              this.$.loggedOptions1.className="";
              this.$.loggedOptions2.className="";
              this.$.loggedOptions3.className="";
              this.$.inOption.className="hide";
              this.$.registerNewClientOption.className="hide";
              this.$.loginForm.hideLogin();
              }
            else {
              var mensaje = {
                "mensaje":"Usuario ya logado. Por favor solicite deslogado previamente.",
                "logoff" : false
              };
              this.$.receiver.showData(mensaje);
              this.$.loggedOptions1.className="";
              this.$.inOption.className="hide";
              this.$.loginForm.hideLogin();
            }
            e="";
          }
          else {
            var mensaje = {
              "mensaje":"Usuario y/o password incorrectos.",
              "logoff" : false
            };
            this.$.receiver.showData(mensaje);
            e="";
          }
        }
        else {
          var mensaje = {
            "mensaje":"Usuario y/o password incorrectos.",
            "logoff" : false
          };
          this.$.receiver.showData(mensaje);
          e="";
        }
      }
      processEvent2(e){
        this.hideAll();
        console.log("processEvent2 - Evento capturado del emisor");
        console.log(e.detail);
        this.$.receiver.showData(e.detail);
        this.$.loggedOptions0.className="hide";
        this.$.loggedOptions1.className="hide";
        this.$.loggedOptions2.className="hide";
        this.$.loggedOptions3.className="hide";
        this.$.inOption.className="";
        this.$.registerNewClientOption.className="";
        e="";
      }
      processEvent3(e){
        console.log("processEvent3 - Evento capturado del emisor");
        if (e.detail.newClient){
          var mensaje = {
            "mensaje":"Cliente creado satisfactoriamente. Por favor, proceda a logarse."
          }
        }
        else {
          var mensaje = {
            "mensaje":"No ha sido posible crear al usuario. Revise los datos y vuelva a intentarlo."
          };
        }
        this.$.receiver.showData(mensaje);
        e="";
      }
      processEvent4(e){
        console.log("processEvent4 - Evento capturado del emisor");
        e="";
      }
      processEvent5(e){
        console.log("processEvent5 - Evento capturado del emisor");
        console.log(e);
        if (e.detail.newMovement){
          var mensaje = {
            "mensaje":"Movimiento registrado satisfactoriamente."
          }
        }
        else {
          var mensaje = {
            "mensaje":"No ha sido posible realizar el movimiento."
          };
        }
        this.$.receiver.showData(mensaje);
        e="";
      }
    }
    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
