<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="logoff-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div id="formularioLogoff" hidden$="{{!login}}">
      <h2 hidden$="{{logged}}">Datos de usuario [[id]]</h2>
    </div>
    <iron-ajax
      id="doLogoff"
      method="POST"
      url=""
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
  </template>
  <script src="../js/tools.js"></script>
  <script>
    /**
     * @customElemento
     * @polymer
     */
    class LogoffUsuario extends Polymer.Element {
      static get is() { return 'logoff-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          login: {
            type: Boolean,
            value: false
          },
          mensaje:{
            type: String
          }
        };
      }
      logoff(id){
        //Inicializamos
        this.$.doLogoff.url="http://localhost:3000/apitechu/v2/logout/";
        this.$.doLogoff.url=this.$.doLogoff.url+id;
        console.log("Botón logoff " +this.$.doLogoff.url);
        this.$.doLogoff.generateRequest();
        console.log("Petición enviada.");
      }
      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "mensaje" : data.detail.response.mensaje,
                  "id" : data.detail.response.id,
                  "login" : false
                }
              }
          )
        );
        var userSesion = "";
        sessionStorage.setItem("sesion",userSesion);
      }
      showError(error){
        console.log("Se produjo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "mensaje":"No pudo realizarse el deslogado",
                  "logoff" : false
                }
              }
          )
        );

      }
    }

    window.customElements.define(LogoffUsuario.is, LogoffUsuario);
  </script>
</dom-module>
