<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuenta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <div id="formularioAccounts" hidden$="{{!showAccountsOnScreen}}">
      <script>
      function addNewMovement(iban){
        console.log("Pulsado botón nuevo movimiento para la cuenta:"+iban);
        // this.$.newMovement.showNewMovement(iban);
      }
      </script>
      <input type="hidden" id="userId" value="">
      <table  class="table table-hover" >
        <thead>
          <tr>
            <th>Cuenta</th><th>Saldo</th><th>Movimientos</th>
          </tr>
        </thead>
        <template is="dom-repeat" items="{{accounts}}" as="cuenta">
          <tbody>
          <tr>
            <td>{{cuenta.iban}}</td>
            <td>{{cuenta.balance}}</td>
            <td>
              <table class="table table-hover" width="100%">
                <thead>
                <tr>
                  <th>Fecha</th><th>IdMovimiento</th><th>Tipo</th><th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                <template is="dom-repeat" items="{{cuenta.movimientos}}" as="movimientos">
                  <template is="dom-repeat" items="{{movimientos.movimiento}}" as="movimiento">
                    <tr>
                      <td>{{movimiento.Fecha}}</td>
                      <td>{{movimiento.idMov}}</td>
                      <td>{{movimiento.tipo}}</td>
                      <td>{{movimiento.cantidad }}</td>
                    </tr>
                  </template>
                </template>
              </tbody>
              </table>
            </td>
        </tr>
      </tbody>
      </template>

      </table>
    </div>
    <iron-ajax
      id="getUserAccount"
      method="GET"
      url=""
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
    </template>
  <script>
    /**
     * @customElemento
     * @polymer
     */
    class VisorCuentaUsuario extends Polymer.Element {
      static get is() { return 'visor-cuenta-usuario'; }
      static get properties() {
        return {
          idUser: {
            type: Number
          },
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          movimientos: {
            type: Array
          },
          showAccountsOnScreen: {
            type: Boolean,
            value: false
          },
        };
      }
      showAccounts(id){
        //Inicializamos /apitechu/v2/users/:id/account
        this.$.userId.value=id;
        this.$.getUserAccount.url="http://localhost:3000/apitechu/v2/users/"+id+"/account";
        console.log("Botón showAccounts " +this.$.getUserAccount.url);
        this.$.getUserAccount.generateRequest();
        console.log("Petición enviada.");
      }
      hideAccounts(){
        this.showAccountsOnScreen=false;
      }
      processEventnewMovement(e){
        // showAccounts(this.idUser.value);
        console.log("processEventnewMovement");
        e="";
      }
      manageAJAXResponse(data) {
        console.log("Recibidos datos de cuentas");
        // this.showOnScreen=false;
        console.log(data.detail.response[0]);
        this.accounts=data.detail.response;
        this.showAccountsOnScreen=true;
      }
      showError(error){
        console.log("Se produjo un error");
        console.log(error);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "newClient" : false
                  }
              }
            )
          );
      }
    }
    window.customElements.define(VisorCuentaUsuario.is, VisorCuentaUsuario);
  </script>
</dom-module>
